* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: rgb(27, 25, 25);
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0 2rem;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#nav h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#main h1 {
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 120px;
  /* background-color: red; */
  width: 80%;
  margin-left: 10%;
  position: relative;
  z-index: 9;
}

#main h1:nth-child(2) {
  margin-top: 180px;
}
#main h1:nth-child(3) {
  text-align: center;
}

#main h1:nth-child(4) {
  text-align: center;
}

img {
  height: 450px;
  width: 400px;
  position: absolute;
  top: 12%;
  left: 40%;
}

#img3 {
  rotate: 20deg;
}
#img2 {
  rotate: 10deg;
}
