* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}
#page1 {
  height: 100%;
  width: 100%;
  background-color: lightblue;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: lightsalmon;
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: lightseagreen;
}

#page2 h1 {
  font-size: 30vw;
  font-weight: 500;
}
